{% extends "appoinment/base.html" %}

{% block apcontent %}
<div class="clove_appointment">
	<div class="breadcrumb">
		<div class="box">
			<ul>
				<li><a href="">Home</a>
				</li>
				<li>
					Appointments				</li>
			</ul>
		</div>
	</div>
	<div class="boxcomman">
	
	
	
		<div align="center" style="color:#008A00;font-size:17px;font-weight: bold;">
					</div>
			
		
		<h3 data-appear-animation="fadeInDown" data-appear-animation-delay="10">Book an Appointment at  <span>Clove Clinic</span> Near You</h3>
				<form method="post" action="" id="frm">
			<input type="hidden" name="form_type" value="appointment">
			<div class="form-left fix_appointment_panel">
				<div class="appointment_stepbox">
					<div class="inner_area">
						<div class="step_point">1</div>
	
					<h2>Select City</h2>

						<div class="row select_locate_area">
						<select id="clinicHeade" class="select_box select">
						<option value="00">Select City</option>
													<option value="673" >Ahmedabad</option>
													<option value="661" >Amritsar</option>
													<option value="672" >Bengaluru</option>
													<option value="664" >Bhiwadi</option>
													<option value="658" >Chandigarh</option>
													<option value="670" >Chennai</option>
													<option value="650" >Delhi</option>
													<option value="653" >Faridabad</option>
													<option value="652" >Ghaziabad</option>
													<option value="736" >Greater Noida</option>
													<option value="654" >Gurgaon</option>
													<option value="669" >Hyderabad</option>
													<option value="659" >Jaipur</option>
													<option value="662" >Jalandhar</option>
													<option value="667" >Kakinada</option>
													<option value="660" >Ludhiana</option>
													<option value="657" >Mohali</option>
													<option value="665" >Nawanshahr</option>
													<option value="651" >Noida</option>
													<option value="655" >Panchkula</option>
													<option value="663" >Pune</option>
													<option value="666" >Vijayawada</option>
													<option value="671" >Vizag</option>
													<option value="656" >Zirakpur</option>
											</select>
						</div>
						<h2>Select Clinic</h2>
						<div class="row select_locate_area">
						<select class="select_box select" id="state_id" name="loc">
							<option value="00">Select Clinic</option>
						</select>
							<p class="error-n error-c" id="loc_error1"></p>
						</div>
						<div id="addressId" class="location_detials_area" data-appear-animation="fadeInDown" data-appear-animation-delay="10">
							Please select a location from the list above and check the nearest clinic						</div>
					</div>
				</div>
				<div class="appointment_stepbox middle_step step_disable" id="datepick">
					<div class="inner_area">
						<div class="step_point">2</div>
						<h2>Select Date &amp; Time</h2>
						<div class="row">
							<input type="text" name="app_date" value="" id="datetimepicker3" required class="input_datetext">
						</div>
					</div>
				</div>
				<div class="appointment_stepbox step_disable" id="frmshow">
					<div class="inner_area">
						<div class="step_point">3</div>
						<h2>Personal Details</h2>
						<div class="personal_detail_content">
							<div class="row2"><input type="text" name="phone" class="input_box" value="" placeholder="Mobile Number*" id="phone" maxlength="10" minlength="10">
																<p class="error-n error-c" id="app_error1"></p>
							</div>
							<div class="row2"><input type="text" name="fullname" class="input_box" value="" placeholder="Full Name*" id="name_id">
								<p class="error-n error-c" id="app_error2"></p>
							</div>
							<div class="row2"><input type="text" name="email" class="input_box right" value="" placeholder="Email Id" id="email_id">
								<p class="error-n error-c" id="app_error3"></p>
							</div>
														<textarea class="textarea_box" name="message" placeholder="Type Text Message"></textarea>
							<div class="appointment_capchacode">
								<input id="cap_Code" name="cap_Code" type="text" class="input_box capcha_input">
								<img id="captcha_code1" src="https://clovedental.in/captcha/captchaCode.php?id=1" alt="Captcha"/>
								<p onclick="refreshCaptchaApp();" class="capLoad">Refresh Captcha</p>
								<p id="app_error4" class="error-n error-c"></p>
							</div>
														<div class="appointment_submit">
<div class="clearfix"></div>
                                                            <div class="form-disclaimer">
         <input type="checkbox" id="disclaimer" name="disclaimer" value="Y" checked="checked">
         <label for="disclaimer" style="font-size: 9px;">I declare that the information provided is correct. I would like to receive communication about Clove services.</label>
		 </div> 

    <input type="hidden" name="utm_source" id=" " value="">
    <input type="hidden" name="utm_campaign" id=" " value="">
    <input type="hidden" name="utm_medium" id=""  value="">
    <input type="hidden" name="utm_term" id=""  value="">                                                             <div class="clearfix"></div>
	<button type="submit" value="submit" name="button" class="button">Submit</button>
	<span class="wait error-n">Please wait...</span>
</div>
							
		<div class="clearfix"></div>	
		 <div class="form-disclaimer">				
        <label style="font-size: 9px;"><br />By clicking Submit you agree to be contacted by Clove Dental over Phone or SMS/WhatsApp/Email.</label></div>
		 </div>
						
			</div>
		</div>
	</div>
	</div>
	</form>
</div>
{% endblock apcontent %}

