{% extends 'base.html' %}


{% block content %}

    <!-- Carousel Start -->
    {% include 'includes/carousel.html' %}
    <!-- Carousel End -->


    <!-- Banner Start -->
    {% include 'includes/banner.html' %}
    <!-- Banner Start -->

  <!---------counter part start-------->
      {% include 'includes/counter.html' %}
  <!----------counter part end---------->


  <!-- SYMPTOMS & TREATMENTS start -->
        {% include 'includes/treatments.html' %}
  <!-- SYMPTOMS & TREATMENTS end -->

  <!-- membership plans start -->
    {% include 'includes/membership_plans.html' %}
  <!-- membership plans end -->

  <!-- Service Start -->
    {% include 'includes/patientsafety.html' %}
  <!-- Service End -->


    <!-- About Start -->
    {% include 'includes/about.html' %}
    <!-- About End -->


    <!-- Offer Start -->
    {% include 'includes/offer.html' %}
    <!-- Offer End -->


    <!-- Pricing Start -->
    {% include 'includes/pricing.html' %}
    <!-- Pricing End -->


    <!-- Testimonial Start -->
    {% include 'includes/testimonial.html' %}
    <!-- Testimonial End -->


    <!-- Our Dentist Start -->
    {% include 'includes/ourdentist.html' %}
    <!-- Our Dentist End -->


{% endblock content %}



