<section id="counter">
    <div class="container-fluid">
      <div class="row">
        <div class="box col-md-2 col-6 m-0 p-0">
          <div class="c-content text-center">
            <i style="font-size:60px; margin-top: 5px;" class="fa fa-wheelchair"></i>
            <h2><span class="counter">9999</span> <span>+</span></h2>
            <p>Patients</p>
          </div>
        </div>
        <div class="box col-md-2  col-6 m-0 p-0">
          <div class="c-content text-center">
            <i style="font-size:60px; margin-top: 5px;" class="fa fa-heartbeat"></i>
            <h2><span class="counter">909</span> <span>+</span></h2>
            <p>Successful Ortho cases</p>
          </div>
        </div>
        <div class="box col-md-2  col-6 m-0 p-0">
          <div class="c-content text-center">
            <i style="font-size:60px; margin-top: 5px;" class="fa fa-lightbulb-o"></i>
            <h2><span class="counter">59</span> <span>+</span></h2>
            <p>Implants Placed</p>
          </div>
        </div>
        <div class="box col-md-2  col-6 m-0 p-0">
          <div class="c-content text-center">
            <i style="font-size:60px; margin-top: 5px;" class="fa fa-user-md"></i>
            <h2><span class="counter">99</span> <span>+</span></h2>
            <p>Doctors</p>
          </div>
        </div>
        <div class="box col-md-2  col-6 m-0 p-0">
          <div class="c-content text-center">
            <i style="font-size:60px; margin-top: 5px;" class="fa fa-hospital-o"></i>
            <h2><span class="counter">999</span> <span>+</span></h2>
            <p>Clinics</p>
          </div>
        </div>
        <div class="col-md-2 col-6 m-0 p-0">
            <div class="c-content text-center">
            <i style="font-size:60px; margin-top: 5px;" class="fa fa-star"></i>
            <h2><span class="counter">919</span> <span>+</span></h2>
              <p>Google Reviews</p>
            </div>
          </div>
      </div>
    </div>
  </section>